.h1{
    text-align: center;
}

.timeline-container::after{
    background-color: #380036;
    background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd){
    align-self: flex-end;
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 30px;
}

.timeline-item-content{
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(175, 58, 58, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    max-width: 70%;
    width: 340px;
    text-align: right;
}


.timeline-item-content::after{
    content: '';
    background-color: white;
    box-shadow: 1px -1px 1px rgba(0,0,0,0.3);
    border-color: white;
    position: relative;
    transform: rotate(45deg);
    right: -22px;
    top: calc(-53%);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content{
    align-items: flex-start;
    text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after{
    box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
    right: auto;
    left: -22px;
}

.timeline-item-content .tag{
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    position: relative;
    letter-spacing: 1px;
    margin: 10px;
    top: 5px;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag{
    left: auto;
    right: 5px;
}

.timeline-item-content .time{
    color: #777;
    font-size: 12px;
}

.timeline-item-content p{
    font-size: 16px;
    line-height: 24px;
    max-width: 300px;
}

.timeline-item-content a{
    color: #333;
    text-decoration: underline;
    font-size: 14px;
}

.timeline-item-content a::after{
    content: '>';
    font-size: 12px;
}

.timeline-info{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.timeline-item-content .circle{
    background-color: #380036;
    background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    top: calc(-50% + 10px);
    right: -55px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle{
    right: auto;
    left: -55px;
}

@media only screen and (max-width: 810) {
    .timeline-item-content, .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag{
        width: calc(100% -10px);
    }

    .timeline-item-content time{
        margin-top: 20px;
    }

    .timeline-item-content a{
        text-decoration: underline;
    }

    .timeline-item-content a::after{
        display: none;
    }
}
