.contact-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-color: rgb(0,0,0,0.6);
}

.contact-parent{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.contact-details-name{
    font-size: 72px;
    font-family: 'Lucida Sans';
}

.contact-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.contact-details-role h1{
    font-size: 40px;
    font-family: cursive;
}

.priamry-text{
    color: (--white);
}


.contact-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: 'Lucida Sans';
}

.contact-options .highlighted-btn{
    margin: 0 0 0 28px;
}

.contact-options .highlighted-btn:hover{
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}

.contact-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 380px;
    margin-left: 100pt;
}

.contact-picture-background{
    height: 92%;
    width: 92%;
    background-image: url("../../assets/Home/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.colz .colz-icon i{
    color: rgb(255, 255, 255);
    padding: 8px;
    padding-left: 0px;
    margin: 7px;
}
.colz .colz-icon i:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 1110px) {
    .contact-picture{
        margin: 0 0px 0 80px;
    }
    .contact-details-name{
        font-size: 20px;
    }

    .contact-details-role .priamry-text{
        font-size: 12px;
    }

    .contact-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
    
}

@media screen and (max-width: 910px) {
    .contact-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
        
}

@media screen and (max-width: 810px) {
    .contact-picture{
        margin: 0 !important;
    }

    .contact-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .contact-options{
        display: flex;
        justify-content: space-between;
    }

    .contact-details{
        margin: 25px 0 0 ;
    }
    .contact-options .highlighted-btn{
        margin: 0 !important;
    }

    .contact-details-name, .contact-details-role{
        text-align: center;
    }
        
}

@media screen and (max-width: 375px) {
    .contact-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }

    .contact-details{
        width: 90%;
    }
}