.prj-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prj-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;
}

.prj-title{
    text-align: center;
}

.prj-title h1{
    color: #380036;
    font-family: 'Lucida Sans';
    font-weight: 900px;
    font-size: 70px;
}

.prj-title h6{
    color: palevioletred;
    font-size: 17px;
}