.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.edu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;

}

.edu-title h1 {
    color: #0cbaba;
    font-family: 'Lucida Sans';
    font-weight: 900px;
    font-size: 70px;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-decoration: underline;
}

