.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #380036;
    background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
    flex-direction: row;

}

.footer-text-mid{
    color: whitesmoke;
    text-align: center;
}

.footer-text-cpr{
    color: whitesmoke;
    text-align: left;
    margin-left: 10px;
}

.footer-text-ds{
    color: whitesmoke;
    text-align: right;
    margin-right: 10px;
}

@media screen and (max-width: 1110px) {
    .footer-text-mid{
        font-size: 14px;
    }
    
    .footer-text-cpr{
        font-size: 14px;
    }
    
    .footer-text-ds{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 910px) {
    .footer-text-mid{
        font-size: 8px;
    }
    
    .footer-text-cpr{
        font-size: 8px;
    }
    
    .footer-text-ds{
        font-size: 8px;
    }
        
}

@media screen and (max-width: 810px) {
    .footer-text-mid{
        font-size: 8px;
    }
    
    .footer-text-cpr{
        font-size: 8px;
    }
    
    .footer-text-ds{
        font-size: 8px;
    }
        
}

@media screen and (max-width: 375px) {
    .footer-text-mid{
        font-size: 4px;
    }
    
    .footer-text-cpr{
        font-size: 4px;
    }
    
    .footer-text-ds{
        font-size: 4px;
    }
}